#svgmap {
    fill: #cccccc;
    stroke: white;
    stroke-width: 0.75;
    position: relative;
}

.svgcircle {
    stroke-width: 0.4;
}

#divmapoverlay{
    position: absolute;
    color: white;
    text-align: left;
    width: 950px;
    height: 100px;
    margin: 400px 0px 0px 200px;
    float: right;
    clear: both;
    z-index: 1;
}

#divmapbuttons {
    position: absolute;
    margin: 400px 0px 0px 1100px;
    background: white;
    vertical-align: bottom;
    padding: 0px 5px;
    float: right;
    width: 20px;
    height: 80px;
    border: solid;
    border-width: thin;
    border-color: black;
    z-index: 1;
}

#ulmapbuttons {
    margin-top: 10px;
    border-style: none;
    float: right;
    list-style-type: none;
    vertical-align: bottom;
}

.zoombutton {
    margin: 0px;
    padding: 10px 0px;
    align-content: center;
    background: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0.5px;
    height: 20px;
    width: 20px;
    border: none;
    border-top-style: solid;
    border-color: gray;
}

#divmap {
    position: relative;
    background: white;
    width: 950px;
    height: 500px;
    float: left;
}

#zoom_reset {
    border-style: none;
}